[Desktop Entry]
Name=IceWM Settings
Name[pl]=Ustawienia IceWM
Comment=Preferences editor for icewm
Comment[pl]=Edytor preferencji dla icewm
Icon=icepref_48x48.xpm
Exec=icepref
Terminal=false
Type=Application

# vi: encoding=utf-8
