[Desktop Entry]
Name=IceWM Settings
Name[pl]=Ustawienia IcewM
Comment=Preferences editor for icewm
Comment[pl]=Edytor preferencji dla icewm'a
Icon=icepref_48x48.xpm
Exec=icepref
Terminal=0
Type=Application

# vi: encoding=utf-8
