[Desktop Entry]
Name=IcePrefs
Name[pl]=IcePrefs
Comment=Preferences editor for icewm
Comment[pl]=Edytor preferencji dla icewm'a
Icon=
Exec=icepref
Terminal=0
Type=Application

